In [20]:
import pandas as pd
group_ds = pd.read_csv("channels_with_count.csv")
og_github_edgelist = pd.read_csv("10.05.2021.13.04EDGELIST.csv")

In [26]:
group_ds

# Merging Source column with group_ds
edgelist_with_source = pd.merge(og_github_edgelist, group_ds[['Channel_Name']], left_on='Source', right_on='Channel_Name', how='left')
edgelist_with_source

# Merge Target column with group_ds
edgelist_with_both = pd.merge(edgelist_with_source, group_ds[['Channel_Name']], left_on='Target', right_on='Channel_Name', how='left', suffixes=('_Source', '_Target'))
edgelist_with_both

# Drop rows with NaN values in either Source or Target columns
edgelist_cleaned = edgelist_with_both.dropna(subset=['Channel_Name_Source', 'Channel_Name_Target'])
edgelist_cleaned

edgelist_cleaned = edgelist_cleaned.drop(columns= ['Channel_Name_Source', 'Channel_Name_Target'])
edgelist_cleaned

            Source        Target  Weight
372    valorant_kr         wkgml     778
373    valorant_kr      sinatraa     764
374    valorant_kr  hanryang1125    1164
376    valorant_kr    2chamcham2     855
377    valorant_kr      yapyap30     795
...            ...           ...     ...
82174        godjj        dogdog    1186
82175        godjj  lolpacifictw    1378
82176        godjj         bamow     782
82230        mang0        dogdog     818
82236        mang0      nyanners     636

[11053 rows x 3 columns]